table {
    width: 100%;
}

th {
    height: 50px;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}

th, td {
    padding: 20px 10px 20px 10px;
    text-align: center;

}

tr:nth-child(even) {
background-color: lightgrey;
}

select {
  padding: 10px;
  margin: 10px 0 0 0;
}

.container {
  display: inline-grid;
  text-align: center;
  width: 80%;
}

.selection-submit {
  margin-top: 10px;
  padding: 10px 25px 10px 25px;
  background-color: #D3D3D3;
  border-radius: 5px;
  margin-right: 10px;
}

.selectionsContainer {
  display: -webkit-inline-box;
  width: 100%;
  background-color: cadetblue;
}

.selectionOptionsDays, .selectionOptionsTimes, .buttonContainer {
  margin: 10px;
}
